---
layout: layout.njk
permalink: "/europa/lituania/vilna/listado-vilna/"
title: "Vilna · Txector Routes"
description: "Listado de Vilna."
canonical: "https://txectorroutes.com/europa/lituania/vilna/listado-vilna"
ogUrl: "https://txectorroutes.com/europa/lituania/vilna/listado-vilna"
ogImage: "/assets/img/og/home.jpg"
css:
  - /assets/css/cards-cover.css
headerStyle: "static"
---

<section class="hero hero-simple" aria-labelledby="rutas-hero-title">
  <div class="hero-grid">
    <div class="hero-text" data-aos="fade-up">
      <h1 id="rutas-hero-title">Guía de viaje de Vilna</h1>
      <p>
        Itinerarios y consejos prácticos para visitar Vilna por libre,
        con rutas optimizadas, ideas según los días disponibles
        y recomendaciones basadas en viaje real.
      </p>
    </div>
  </div>
</section>

<section class="section section-alt">
    <div class="container">
        <div class="cards-cover-grid">
            <a href="/europa/lituania/vilna/que-ver-en-vilna" class="card-cover">
                <div class="card-cover-image">
                <img src="/assets/img/europa/lituania/vilna/tienda-dulces-centro.jpg" alt="Que ver en Vilna" decoding="sync">
                </div>
                <div class="card-cover-title"><h3>Que ver en Vilna</h3></div>
            </a>
        </div>
    </div>
</section>

<section class="cta cta-soft">
  <div class="container">
    <h2>¿No encuentras la ruta perfecta?</h2>
    <p>
      Si ninguna de estas rutas encaja exactamente con lo que buscas,
      puedo diseñar un viaje totalmente a tu medida, adaptado a tu ritmo y forma de viajar.
    </p>
    <a class="btn btn-secondary" href="/servicio/">Ver viajes a medida</a>
  </div>
</section>