---
layout: layout.njk
permalink: "/rutas/"
title: "Rutas · Viajando con Txector"
description: "Listado de rutas."
canonical: "https://viajandocontxector.com/rutas"
ogUrl: "https://viajandocontxector.com/rutas"
ogImage: "/assets/img/og/home.jpg"
css:
  - /assets/css/cards-cover.css
headerStyle: "static"
---

<section class="hero hero-simple" aria-labelledby="rutas-hero-title">
  <div class="hero-grid">
    <div class="hero-text" data-aos="fade-up">
      <h1 id="rutas-hero-title">Rutas de viaje por libre, probadas y organizadas</h1>
      <p>
        Aquí encontrarás rutas de viaje detalladas, basadas en viajes reales, 
        con itinerarios día a día y mapas
      </p>
    </div>
  </div>
</section>

<section class="section section-alt">
    <div class="container">
        <div class="cards-cover-grid">
            <a href="/rutas/europa/paises-balticos-9-dias" class="card-cover">
                <div class="card-cover-image">
                <img src="/assets/img/rutas/europa/paises-balticos/tallin.webp" alt="Ruta por los Países Bálticos en 9 días" loading="lazy">
                </div>
                <div class="card-cover-title"><h3>Países Bálticos en 9 días</h3></div>
            </a>
        </div>
    </div>
</section>

<section class="cta cta-soft">
  <div class="container">
    <h2>¿No encuentras la ruta perfecta?</h2>
    <p>
      Si ninguna de estas rutas encaja exactamente con lo que buscas,
      puedo diseñar un viaje totalmente a tu medida, adaptado a tu ritmo y forma de viajar.
    </p>
    <a class="btn btn-secondary" href="/servicio/">Ver viajes a medida</a>
  </div>
</section>